<!--<div class="loader" loading>-->
<!--<md-progress-linear md-mode="indeterminate"></md-progress-linear>-->
<!--</div>-->
<md-toolbar>
    <div class="header dark-primary-color" layout="row" flex>
        <div layout="row" flex>
            <div layout="row" flex>
                <div class="kv-logo" layout="row" layout-align="center center">
                <h1><a href="#">Kalpvriksha</a></h1>
                </div>
                <span flex></span>

                <div layout-align="center center" layout="row" class="navigation">
                    <a ng-class="{'active': activeTab == 'dashboard'}" data-ui-sref="dashboard"><i
                            class="fa fa-home"></i> Home</a>
                    <a ng-class="{'active': activeTab == 'dashboard'}" data-ui-sref="dashboard"><i
                            class="fa fa-home"></i> Home</a>
                    <a ng-class="{'active': activeTab == 'dashboard'}" data-ui-sref="dashboard"><i
                            class="fa fa-home"></i> Home</a>
                    <a ng-class="{'active': activeTab == 'dashboard'}" data-ui-sref="dashboard"><i
                            class="fa fa-home"></i> Home</a>
                </div>
                <!--<div layout="row" class="user-info">-->
                <!--<div layout="row" layout-align="center center">-->
                <!--<md-button class="md-icon-button" ng-click="header.showUserPopup($event)" aria-label="More">-->
                <!--<i class="fa fa-ellipsis-v"></i>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--<div class="user-info-dropdown" ng-show="header.showPopup" ng-click="header.stopClose($event)">-->
                <!--<div hide-sm layout="row" layout-padding layout-align="center center">-->
                <!--<div layout="column" layout-padding>-->
                <!--<span>{{header.userInfo.name}}</span>-->
                <!--<span class="small-text">{{header.userInfo.email}}</span>-->
                <!--</div>-->
                <!--<md-button aria-label="Sign Out"-->
                <!--class="md-fab md-mini md-icon-button md-primary">-->
                <!--<img class="custom-image-avatar md-avatar"-->
                <!--ng-src="{{header.userInfo.photo}}"/>-->
                <!--</md-button>-->
                <!--</div>-->
                <!--<div layout="row" class="dark-primary-color " flex layout-padding layout-align="end center">-->
                <!--<md-button ui-sref="leases">Account</md-button>-->
                <!--<md-button ng-click="header.logOut()">Sign Out</md-button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</md-toolbar>


